@import "./partials/variables";

.Cart {
  position: absolute;
  top: 3.6rem;
  z-index: 1;
  background-color: white;
  width: 95%;
  margin: 0 2.5%;
  border-radius: 0.5rem;
  /* box shadow is too dark, possibly too long */
  // box-shadow: 0 2rem 2rem -0.5rem $grayish-blue;

  @media screen and (min-width: 1440px) {
    height: 16rem;
    width: 22.5rem;
    postion: absolute;
    top: 5.875rem;
    right: 5.563rem;
    box-shadow: 1px 14px 17px 11px rgba(182, 188, 200, 0.57);
  }

  h2 {
    margin: 1rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;

    @media screen and (min-width: 1440px) {
      margin: 1.688rem 1.5rem;
    }
  }

  hr {
    border-color: $light-grayish-blue;
    border-top: 4px;
  }

  #CartEmpty {
    min-height: 12rem;

    p {
      font-weight: bold;
      color: $dark-grayish-blue;
    }
  }
}

#CartEmpty,
.Cart__CardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 12rem;
}

.Cart__ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: 3rem;
    width: 85%;
    background-color: $orange;
    border-radius: 0.5rem;
    border: none;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;

    @media screen and (min-width: 1440px) {
      height: 3.5rem;
      width: 86.6%;
      margin: 1.5rem 0 0 0;
    }
  }
}
