.MobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  height: 100vh;
  width: 100vw;

  .MobileMenu__Container {
    background-color: white;
    height: 100%;
    width: 66.6%;
  }

  .MobileMenu__DarkSpace {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 33.4%;
  }

  button {
    background: white;
    border: none;
    cursor: pointer;
    margin: 1.563rem;
  }

  ul {
    list-style: none;
    margin-left: 1.563rem;

    li {
      margin-top: 1.5rem;
      font-weight: bold;
      font-size: 1.1rem;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
