@import "./partials/_variables";

.Navbar__Desktop {
  display: none;
  visibility: hidden;

  @media screen and (min-width: 1440px) {
    display: block;
    visibility: visible;
  }
}

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar__Mobile {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 90%;

  .Navbar__Mobile--LeftSide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;

    svg:not(:first-child) {
      margin-left: 1rem;
      transform: translateY(-11%);
    }

    button {
      background: white;
      border: none;
      cursor: pointer;
    }
  }

  .Navbar__Mobile--RightSide {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      height: 1.625rem; // match logo
      width: auto;
    }

    svg {
      margin-right: 1.4rem;
    }
  }

  @media screen and (min-width: 1400px) {
    display: none;
    visibility: hidden;
  }

  button {
    background: none;
    border: none;
  }
}

#CartQuantity {
  font-size: 0.55rem;
  font-weight: bold;
  color: white;
  background-color: $orange;
  width: 1rem;
  height: 0.75rem;
  float: right;
  margin-right: 1.4rem;
  z-index: 1;
  position: absolute;
  transform: translate(-210%, -40%);
  text-align: center;
  border-radius: 0.6rem;
}
