@import "./partials/variables";

.ProductGallery {
  margin-top: 5.625rem;
}

.ProductGallery__MainImage {
  width: 27.813rem;
  height: 27.813rem;
  border-radius: 0.938rem;
}

.ProductGallery__Thumbnails {
  margin-top: 2rem;
  width: 27.813rem;
  display: flex;
  justify-content: space-between;
}

.ProductGallery__RadioButton {
  display: none;
}

.ProductGallery__ThumbnailButton {
  cursor: pointer;
  border: none;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.5rem;
  width: 5.5rem;
  z-index: 10;
  border: 4px solid white;
  display: inline-block;
}

.ProductGallery__RadioButton:not(:checked)
  + .ProductGallery__ThumbnailButton:hover {
  opacity: 0.5;
  border: 4px solid white;
}

.ProductGallery__RadioButton + .ProductGallery__ThumbnailButton:active,
.ProductGallery__RadioButton:checked + .ProductGallery__ThumbnailButton {
  opacity: 0.5;
  border: 4px solid $orange;
}
