@import "./partials/variables";

.ProductGallery {
  width: 100%;
}

.ProductGallery__MainImage {
  width: 27.813rem;
  height: 27.813rem;
  border-radius: 0.938rem;
  margin-top: 5.625rem;
}

.ProductGallery__Thumbnails {
  margin-top: 2rem;
  width: 27.813rem;
  display: flex;
  justify-content: space-between;
}

.ProductGallery__ThumbnailButton {
  cursor: pointer;
  border: none;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.5rem;
  width: 5.5rem;
  z-index: 10;
}

.ProductGallery__ThumbnailButton:hover {
  opacity: 0.5;
}

.ProductGallery__ThumbnailButton:active {
  opacity: 0.5;
  border: 4px solid $orange;
}
